:root {
    --game-size: 4;
    --cell-size: 4rem;
}


section {
    aspect-ratio: 1;
    width: calc(var(--cell-size) * var(--game-size));
    display: grid;
    grid-template-columns: repeat(var(--game-size), 1fr);
}

div {
    width: var(--cell-size);
    aspect-ratio: 1;
}
